@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.slick-next::before, .slick-prev::before {
  background-color: white;
}

.slick-next:before, .slick-prev:before {
  color: #603A18;
}

.bigImg span {
  width: 100% !important;
}

.social span{
  width: 100% !important;
  height: 100% !important;
}

.bigBannerImg span{
  width: 100% !important;
}